*{
  margin: 0;
  padding: 0;
}


.cursor-pointer{
  cursor: pointer;
}

.fa-heading1:after{
  content: 'H1';
}

.fa-heading2:after{
  content: 'H2';
}

.active{
  background-color: black;
}

.h-100vh{
  height: 100vh;
}